In [1]:
import numpy as np
import pandas as pd

In [2]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [3]:
df = pd.read_csv('covid_toy.csv')

In [4]:
df.sample(5)

    age  gender  fever   cough       city has_covid
46   19  Female  101.0    Mild     Mumbai        No
95   12  Female  104.0    Mild  Bangalore        No
72   83  Female  101.0    Mild    Kolkata        No
87   47    Male  101.0  Strong  Bangalore        No
10   75  Female    NaN    Mild      Delhi        No

In [5]:
df.nunique()

age          55
gender        2
fever         7
cough         2
city          4
has_covid     2
dtype: int64

In [7]:
df.isna().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [8]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df.drop(columns=['has_covid']), df['has_covid'], test_size=0.2)

In [9]:
x_train

    age  gender  fever   cough       city
14   51    Male  104.0    Mild  Bangalore
91   38    Male    NaN    Mild      Delhi
4    65  Female  101.0    Mild     Mumbai
64   42    Male  104.0    Mild     Mumbai
8    19  Female  100.0  Strong  Bangalore
..  ...     ...    ...     ...        ...
59    6  Female  104.0    Mild    Kolkata
73   34    Male   98.0  Strong    Kolkata
84   69  Female   98.0  Strong     Mumbai
36   38  Female  101.0    Mild  Bangalore
48   66    Male   99.0  Strong  Bangalore

[80 rows x 5 columns]

In [10]:
x_test

    age  gender  fever   cough       city
13   64    Male  102.0    Mild  Bangalore
9    64  Female  101.0    Mild      Delhi
41   82    Male    NaN    Mild    Kolkata
80   14  Female   99.0    Mild     Mumbai
58   23    Male   98.0  Strong     Mumbai
46   19  Female  101.0    Mild     Mumbai
83   17  Female  104.0    Mild    Kolkata
62   56  Female  104.0  Strong  Bangalore
3    31  Female   98.0    Mild    Kolkata
10   75  Female    NaN    Mild      Delhi
1    27    Male  100.0    Mild      Delhi
39   50  Female  103.0    Mild    Kolkata
42   27    Male  100.0    Mild      Delhi
30   15    Male  101.0    Mild      Delhi
43   22  Female   99.0    Mild  Bangalore
71   75  Female  104.0  Strong      Delhi
81   65    Male   99.0    Mild      Delhi
79   48  Female  103.0    Mild    Kolkata
96   51  Female  101.0  Strong    Kolkata
19   42  Female    NaN  Strong  Bangalore

In [11]:
si = SimpleImputer()
x_train_fever = si.fit_transform(x_train[['fever']])

x_test_fever = si.fit_transform(x_test[['fever']])

In [12]:
x_test_fever

array([[102.],
       [101.],
       [101.],
       [ 99.],
       [ 98.],
       [101.],
       [104.],
       [104.],
       [ 98.],
       [101.],
       [100.],
       [103.],
       [100.],
       [101.],
       [ 99.],
       [104.],
       [ 99.],
       [103.],
       [101.],
       [101.]])

In [14]:
x_train_fever

array([[104.        ],
       [100.80821918],
       [101.        ],
       [104.        ],
       [100.        ],
       [104.        ],
       [102.        ],
       [101.        ],
       [100.        ],
       [101.        ],
       [104.        ],
       [ 98.        ],
       [100.80821918],
       [101.        ],
       [ 98.        ],
       [100.        ],
       [103.        ],
       [104.        ],
       [101.        ],
       [103.        ],
       [101.        ],
       [ 98.        ],
       [104.        ],
       [100.        ],
       [ 99.        ],
       [103.        ],
       [100.        ],
       [ 99.        ],
       [102.        ],
       [102.        ],
       [104.        ],
       [102.        ],
       [ 98.        ],
       [104.        ],
       [100.        ],
       [ 98.        ],
       [ 99.        ],
       [101.        ],
       [100.80821918],
       [100.        ],
       [101.        ],
       [101.        ],
       [100.80821918],
       [ 98.        ],
       [100.80821918],
       [102.        ],
       [104.        ],
       [102.        ],
       [101.        ],
       [100.        ],
       [ 98.        ],
       [ 98.        ],
       [ 98.        ],
       [102.        ],
       [100.80821918],
       [102.        ],
       [100.        ],
       [103.        ],
       [101.        ],
       [ 99.        ],
       [ 98.        ],
       [ 99.        ],
       [ 98.        ],
       [ 98.        ],
       [103.        ],
       [ 98.        ],
       [103.        ],
       [ 99.        ],
       [104.        ],
       [100.        ],
       [100.80821918],
       [103.        ],
       [100.        ],
       [101.        ],
       [102.        ],
       [104.        ],
       [ 98.        ],
       [ 98.        ],
       [101.        ],
       [ 99.        ]])

In [15]:
oe = OrdinalEncoder(categories=[['Mild','Strong']])
x_train_cough = oe.fit_transform(x_train[['cough']])


x_test_cough = oe.fit_transform(x_test[['cough']])

x_train_cough.shape

(80, 1)

In [22]:
x_train_age = x_train.drop(columns=['gender','fever','cough','city']).values

# also the test data
x_test_age = x_test.drop(columns=['gender','fever','cough','city']).values

x_train_age.shape

(80, 1)

In [23]:
ohe = OneHotEncoder(drop='first')
x_train_gender_city = ohe.fit_transform(x_train[['gender','city']]).toarray()


x_test_gender_city = ohe.fit_transform(x_test[['gender','city']]).toarray()

x_train_gender_city.shape

(80, 4)

In [25]:
x_train_transformed = np.concatenate((x_train_age ,x_train_fever,x_train_gender_city,x_train_cough),axis=1)
# also the test data
x_test_transformed = np.concatenate((x_test_age,x_test_fever,x_test_gender_city,x_test_cough),axis=1)

x_train_transformed.shape

(80, 7)

In [26]:
from sklearn.compose import ColumnTransformer

In [28]:
transformer = ColumnTransformer(transformers=[
    ('tnf1',SimpleImputer(),['fever']),
    ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
    ('tnf3',OneHotEncoder(drop='first'),['gender','city'])
],remainder='passthrough')

In [30]:
transformer.fit_transform(x_train).shape

(80, 7)

In [31]:
transformer.transform(x_test).shape

(20, 7)